<%- include('partials/header.ejs') %>
<!--UNUSED FOR -->
    </head>
    <body>
        <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>


        <% if (user) { %>
            <!--if AUTH'D-->
            <h4> <a href="/logout" class="auth-link"> Logout as <%= user.name %> </a> </h4>

            <h3><%= user.name %>'s Fidgets</h3><!-- Shows logged in user's name -->
            <div class="center"> <h4>fidgeception: <%= user.createdAt %></h4> </div>
            <% if (user.posts.length == 0) { %>
                <br><br>
                <div class="center"> <h4>Sup...You fidgeting?</h4> </div> <!-- displays if auth but no posts -->
            <% } else { %>
            <!--if NOT AUTH'D-->
                <h4>This user has made <%= user.posts.length %> posts!</h4> 

                <h3>- fidgets -</h3>
                <div class="fidget-field"> 
                    <% posts.reverse().forEach(function(post){ %>
                        <div class="fidget-container"><!--Wrap in a button to make it all clickable-->
                            <h4> <%= post.title %> </h4>
                            <p>-<%= post.author %>, total fidgets: <%= post.comments.length %>
                            <br><br>
                            <a href='/posts/<%= post._id %>'>revisit fidget</a></p>
                            <br>
                        </div>
                        <br><br>
                        <div class="center">
                            <button class="top-button" onclick="toTop()">To Top</button> 
                        </div>
                    <% }) %>
                </div>
            <% } %>

            <!--if NOT AUTH'D-->
            <% } else { %>
            <h1> <a href="/auth/google" class="auth-link">Login with Google</a> </h1>
            <% } %>

            <!-- All user log-in conditional, otherwise signup! -->
            <!-- Have to get rid of optional name tags in models. Must be mandatory and automatic -->
      
    </body>


<%- include('partials/footer.ejs') %>