<%- include('../partials/header.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->
<!--FIDGET DETAIL/COMMENTS PAGE-->

<br><br><br><br><br><br><br><br>
<body>
    <div id="master-comments-container">
    <!--Original Post section of master-comments-container-->
        <div id="original-post"> 
            <h4>Title</h4>
                <h3><%= post.title %></h3>                  

            <h4>Author</h4>
                <%= post.author %>           
        
            <h4>Content</h4>
                <%= post.content %>
                <br><br>
                <%= post.createdAt %>
        </div>

    <!--Between Space (edit, delete buttons)-->
        <div class="center">
            <!--Edit Button-->
            <button onclick="editPost()" id="edit-button">RE-fidget</button>

            <!--Delete Button-->
            <form action='/posts/<%= post._id %>?_method=DELETE' method="POST" > 
                <button id="delete-form" type="submit">DE-fidget</button>
            </form>
        </div>

    <!--Edit button vanishes and reveals an edit field, below-->
        <form id='edit-comment' action="/posts/<%= post._id %>?_method=PUT" method="POST" style="display:none" >
            <h3>re-fidget</h3>
            <input type="text" class="edit-comment-input" placeholder="Re-Anon" required="required">
            <input type="text" class="edit-comment-input" placeholder="Give your fidget another cool title" required="required">
            <textarea type="text" id="edit-content-textarea" placeholder="You may Re-Fidget away, here!"></textarea>
            <button id="edit-submit-button" type ="submit">re-fidget</button>
        </form>
    <!--Between Space (edit, delete buttons) ENDS-->


    <!--Leave new subfidget-->
        <div id="post-update-field"> 
            <form id='add-comment-form' method='POST' action='/posts/<%= post._id %>/comments'>
                <h3>add subfidget</h3>
                <input type="text" class="add-comment-input" placeholder="Subfidget here" required="required">
                <div class="center">
                <input type='submit' class="add-comment-submit" value='Send Fidget!'>
                </div>
            </form>
        </div>


    <!--Comments section of master-comments-container-->
        <div id="sub-comments-container">
                <!--If there are comments already, then...-->
            <% if (post.comments.length) { %>
                <h3>subfidgets</h3>
                    <% post.comments.forEach(function(c) { %>
                    <div id="sub-fidgets"> 
                        > <%= c.content %><br>
                        <div id="mobile-hide"> 
                            <smalL>at: <%= c.createdAt %></smalL>
                        </div>
                    </div>
                        <% }); %>
                        <br>
            <!--If there are no comments yet-->
            <% } else { %>
                <h3>no subfidgets yet</h3>
                <p>Add a fidget why don't ya!</p>
            <% } %>
        </div>
    </div>
    

<img src="https://www.freeiconspng.com/uploads/high-resolution-fidget-spinner-black-image-17.png" width="50" alt="High Resolution Fidget Spinner Black Image" class="fidget-spinner" />
<br><br><br>

<%- include('../partials/footer.ejs') %> 