<%- include('../partials/header.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->
<!--FIDGET DETAIL/COMMENTS PAGE-->

<br><br><br><br><br><br><br><br><br><br><br>
<body>
    <div id="master-comments-container">
        <!--Original Post section of master-comments-container-->
        <div id="original-post"> 
            <h4>Title</h4>
                <h3><%= post.title %></h3>                  

            <h4>Author</h4>
                <%= post.author %>           
        
            <h4>Content</h4>
                <%= post.content %>
                <br><br>
                <%= post.createdAt %>

        </div>

<!--Between Space (edit, delete buttons)-->


    <!-- Javascript/HTML for hiding edit button, revealing edit menu -->
    <script>
        function editPost() {
            const editWindow = document.getElementById("edit-comment");
            const editButton = document.getElementById("edit-button");
            editWindow.style.display = "block"; 
            editButton.style.display = "none";
        };
    </script>

        <form action='/posts/<%= post._id %>?_method=DELETE' method="POST" class="delete-post"> 
            <br><button type="submit">Delete Post</button>
        </form>
        <br>
        <button onclick="editPost()" id="edit-button">Edit this post</button>
        <br><br>
<!-- action="/posts/<%= post._id %>/update?_method=PUT" -->
<form id='edit-comment' action="/posts/<%= post._id %>?_method=PUT" method="POST" style="display:none" >
    <h4>Edit this Post</h4>
    <input type="text" id = "title" name="title" required value="Title">
    <input type="text" id = "content" name="content" required value="Content">
    <button type ="submit">Submit Changes</button>
 </form>

    
    <form id='add-comment-form' method='POST' action='/posts/<%= post._id %>/comments'>
        <h4>Leave a comment!</h4>
        <textarea name='content'></textarea>
        <div class="center">
        <input type='submit' value='Send Fidget!'>
        </div>
    </form>

<!--Between Space (edit, delete buttons)-->

        <!--Comments section of master-comments-container-->
        <div id="sub-comments-container">

                <!--If there are comments already, then...-->
            <% if (post.comments.length) { %>
                <h3>subfidgets</h3>
                    <% post.comments.forEach(function(c) { %>
                    <div id="sub-fidgets"> 
                        <%= c.content %> <br>
                    </div>
                        <% }); %>
                        <br>
            <!--If there are no comments yet-->
            <% } else { %>
                <h3>no subfidgets yet</h3>
                <p>Add a fidget why don't ya!</p>
            <% } %>

        </div>
    </div>
    


       

   <p><img src="https://www.freeiconspng.com/uploads/high-resolution-fidget-spinner-black-image-17.png" width="50" alt="High Resolution Fidget Spinner Black Image" class="fidget-spinner" /></p>
    


<%- include('../partials/footer.ejs') %> 