<%- include('../partials/header.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->


<br><br><br><br><br><br><br><br><br><br><br><br>
<body><!--Add a container to better style posts here, maybe drop the tables-->

      
            <h3>Posts</h3>
        <div class="fidget-field"> 

            <% posts.reverse().forEach(function(post){ %>
                    <div class="fidget-container"><!--Wrap in a button to make it all clickable-->
                        <h4> <%= post.title %> </h4>
                        Written by: <%= post.author %>
                        <br> 
                        Comment Total: <%= post.comments.length %>
                        <br>
                        <a href='/posts/<%= post._id %>'>See More!</a>
                    </div>
            <% }) %>
        </div>
   <!--Need a to Top button-->
   <br><br>

<!--TEST-->
<a href='/'>Home</a><br><a href='/posts/new'>New Posts</a>
<br><br>


</body>








<!--TEST-->
<!--TEST-->
<a href='/'>See Posts!</a>
<br><br>

<%- include('../partials/footer.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->