<%- include('../partials/header.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->


<br><br>
<body><!--Add a container to better style posts here, maybe drop the tables-->
    <table>
        <thead>
            <h3>Posts</h3>
        </thead>
        <tbody>
            <% posts.reverse().forEach(function(post){ %>
              <tr>
                <td>
                    <div class="fidget-container"><!--Wrap in a button to make it all clickable-->
                        <%= post.title %>
                        <br> 
                        Written by: <%= post.author %>
                        <br> 
                        Comment Total: <%= post.comments.length %>
                        <br>
                        <a href='/posts/<%= post._id %>'>See More!</a>
                    </div>
                </td>
              </tr>
            <% }) %>
        </tbody>
    </table>
   <!--Need a to Top button-->
   <br><br>

<!--TEST-->
<a href='/'>Home</a><br><a href='/posts/new'>New Posts</a>
<br><br>


</body>








<!--TEST-->
<!--TEST-->
<a href='/'>See Posts!</a>
<br><br>

<%- include('../partials/footer.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->