<%- include('../partials/header.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->
<!--SEE ALL FIDGETS PAGE-->

<br><br><br><br><br><br><br><br><br><br><br>
<body>
      
    <h3>- fidgets -</h3>
        <div class="fidget-field"> 
            <% posts.reverse().forEach(function(post){ %>
                    <div class="fidget-container"><!--Wrap in a button to make it all clickable-->
                        <h4> <%= post.title %> </h4>
                        <p>-<%= post.author %>, total fidgets: <%= post.comments.length %>
                        <br><br>
                        <a href='/posts/<%= post._id %>'>read and comment</a></p>
                        <br>
                    </div>
            <% }) %>
        </div>

<div class="center">
    <button class="top-button" onclick="toTop()">To Top</button> 
</div>
<br><br><br>
</body>
<br>
<br>
<img src="https://www.freeiconspng.com/uploads/high-resolution-fidget-spinner-black-image-17.png" width="50" alt="High Resolution Fidget Spinner Black Image" class="fidget-spinner" />
<br><br><br>

<%- include('../partials/footer.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->