<%- include('../partials/header.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->
<!--SEE ALL FIDGETS PAGE-->

<br><br><br><br><br><br><br><br><br><br><br>
<body>
      
    <h3>- fidgets -</h3>
        <div class="fidget-field"> 
            <% posts.reverse().forEach(function(post){ %>
                    <div class="fidget-container"><!--Wrap in a button to make it all clickable-->
                        <h4> <%= post.title %> </h4>
                        <p>-<%= post.author %>, total fidgets: <%= post.comments.length %>
                        <br><br>
                        <a href='/posts/<%= post._id %>'>read and comment</a></p>
                        <br>
                    </div>
            <% }) %>
        </div>

<button class="top-button" onclick="toTop()">To Top</button>
<br>
</body>
<br>
<br>


<%- include('../partials/footer.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->