<%- include('../partials/header.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->

   <br>
   <br>
    <div class="row">
        <!--Left column start-->
        <div class="column-60">
            <h3>Add New Fidget</h3>
            <form id="new-form" action="/posts" method="POST">
                <div class="post-form-container">
              
                        <input type="text" name="author" placeholder="Anon" required="required">

                        <input type="text" name="title" placeholder="Give your fidget a cool title" required="required">

                        <textarea id="post" name="content" placeholder="You may Fidget away, here!" required="required"></textarea>

                    <div class="submit-button-container">
                        <div class="center">
                            <input type="submit" value="Post to Fidget!">
                            <button><a href="/posts">Cancel</a></button>
                        </div>  
                    </div>
                </div>
            </form>
        </div>

        <!--Right column start-->
        <div class="column-30">
            <h3>Recent Fidgets</h3>
            <table>
                <tbody class="postbox">
                    <% posts.reverse().forEach(function (post) { %>
                      <tr>
                        <div class="fidget-container">
                            f:<%= post.title %>
                            <br> 
                            #:<%= post.comments.length %>
                            <br>
                            <a href='/posts/<%= post._id %>'>See More!</a>
                        </div>
                      </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    
    
 <!--TEST-->
<a href='/posts'>See Posts!</a><br><a href='/'>Home</a>
<br><br>



</body>
</html>


<%- include('../partials/footer.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->