<%- include('../partials/header.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->
<!--ADD NEW FIDGET PAGE-->

<br><br><br><br><br><br><br><br><br><br><br>
<body>
    <div class="row">
        <!--Left column start-->
        <div class="column-60">
            <h3>- add fidget -</h3>
            <form id="new-form" action="/posts" method="POST">
                <div class="post-form-container">
              
                        <input type="text" name="author" placeholder="Anon" required="required">

                        <input type="text" name="title" placeholder="Give your fidget a cool title" required="required">

                        <textarea id="post" name="content" placeholder="You may Fidget away, here!" required="required"></textarea>

                    <div class="submit-button-container">
                        <div class="center">
                            <input class="post-fidget-button" type="submit" value="Post to Fidget!">
                            <button><a href="/posts">Cancel</a></button>
                        </div>  
                    </div>
                </div>
            </form>
        </div>

        <!--Right column start-->
        <div class="column-30">
            <h3>recent fidgets</h3>
            <table>
                <tbody class="postbox">
                    <% posts.reverse().forEach(function (post) { %>
                      <tr>
                        <div class="fidget-container-new">
                            <p><strong> <%= post.title %></strong> <br>
                            <%= post.comments.length %> fidgets so far</p>
            
                            <a href='/posts/<%= post._id %>'>add yours!</a>
                            <br>
                        </div>
                      </tr>
                    <% }) %>
                </tbody>
            </table><br><br><br>
        </div>
    </div>
    <br>
    <br>
</body>
<br>
<br>

<%- include('../partials/footer.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->