<%- include('../partials/header.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->
<!--ADD NEW FIDGET PAGE-->

<br><br><br><br><br><br><br><br><br><br><br>
<body>
    <div class="row">
        <!--Left column start-->
        <div class="column-60">
            <h3>add new</h3>
            <form id="new-form" action="/posts" method="POST">
                <div class="post-form-container">
              
                        <input type="text" name="author" placeholder="Anon" required="required">

                        <input type="text" name="title" placeholder="Give your fidget a cool title" required="required">

                        <textarea id="post" name="content" placeholder="You may Fidget away, here!" required="required"></textarea>

                    <div class="submit-button-container">
                        <div class="center-new">
                            <input class="post-fidget-button" type="submit" value="fidget!"><br>
                            <button id="cancel-button"><a id="cancel-link" href="/posts">don't</a></button>
                        </div>  
                    </div>
                </div>
            </form>
        </div>

        <!--Right column start-->
        <div class="column-30">
            <h3>f</h3>
                <% posts.reverse().forEach(function(post){ %>
                        <div class="fidget-container-new"><!--Wrap in a button to make it all clickable-->
                            <h4> <%= post.title %> </h4>
                            <p>-<%= post.author %>, total fidgets: <%= post.comments.length %>
                            <br><br>
                            <a href='/posts/<%= post._id %>'>read and comment</a></p>
                            <br>
                        </div>
                <% }) %>
        </div><!--END RIGHT COLUMN-->
    </div>

</body>

<img src="https://www.freeiconspng.com/uploads/high-resolution-fidget-spinner-black-image-17.png" width="50" alt="High Resolution Fidget Spinner Black Image" class="fidget-spinner" />
<br><br><br>


<%- include('../partials/footer.ejs') %> <!-- NOTE THAT THE DIRECTORY CHANGES -->